// Normalize CSS
@import 'node_modules/normalize-scss/sass/normalize';

// MODULES
// Modules are full of things that don't show up in the CSS we produce, but
// are used by the things that get us there, like variables and mixins.

@import 'modules/variables';
@import 'modules/placeholders';

// FONTS
// It's not a module, as it's part of the CSS, but it's also not bracketed
// within the scope params like most partials.

@import 'partials/fonts';

:root,
* {
  box-sizing: border-box;
}

// PARTIALS
// Partials are things that make up part of the CSS we produce.

.thefifthworld {
  margin: 0;
  padding: 0;

  @import 'partials/general';
  @import 'partials/typography';

  @import 'components/html/aside';
  @import 'components/html/blockquote';
  @import 'components/html/hr';
  @import 'components/html/link';
  @import 'components/html/list';
  @import 'components/html/button';
  @import 'components/html/table';

  @import 'layouts/main';
  @import 'layouts/header';
  @import 'layouts/footer';
  @import 'layouts/standard';
  @import 'layouts/stack';
  @import 'layouts/map';

  @import 'components/form/label';
  @import 'components/form/input';
  @import 'components/form/textarea';
  @import 'components/form/select';
  @import 'components/form/checkbox';
  @import 'components/form/input-button';
  @import 'components/form/login';
  @import 'components/form/autocomplete';
  @import 'components/form/path';
  @import 'components/form/file-upload';
  @import 'components/form/page-form';

  @import 'components/navigation/breadcrumbs';
  @import 'components/navigation/panel-link';
  @import 'components/navigation/page-actions';

  @import 'components/content/error';
  @import 'components/content/messages';
  @import 'components/content/like-unlike';
  @import 'components/content/file-download';
  @import 'components/content/map';
  @import 'components/content/collapsible';
  @import 'components/content/recent-updates';
  @import 'components/content/page-history';
  @import 'components/content/diff';
  @import 'components/content/create';
  @import 'components/content/action-columns';
  @import 'components/content/social-media';

  @import 'components/media/img';
  @import 'components/media/figure';
  @import 'components/media/image-preview';
  @import 'components/media/cover';
  @import 'components/media/thumbnail-gallery';
  @import 'components/media/artist-listing';
  @import 'components/media/novel-listing';
  @import 'components/media/video';

  @import 'components/meta/component';
  @import 'components/meta/details-markup';
  @import 'components/meta/palette';
}
