.palettes {
  & > div {
    border: 1px solid $gray;
    margin: 1em 0;
  }

  .red h3 { background: $red; }
  .blue h3 { background: $blue; }
  .green h3 { background: $green; }
  .yellow h3 { background: $yellow; }

  h3 {
    color: $white;
    margin: 0;
    padding: 3em 1em 1em 1em;
  }

  table {
    margin: 0;
  }

  th {
    border: 0;
    color: $black;
    width: 2em;

    &:after {
      content: ':';
    }
  }

  td {
    font-family: 'Lucida Console', 'Monaco', monospace;
  }

  tr:nth-child(even) td {
    background: transparent;
  }

  @supports (display: grid) {
    @media (min-width: 45em) {
      & {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 1em;
      }

      & > div {
        margin: 0;
      }

      table {
        font-size: 0.618em;
      }

      th {
        padding: 0.618em 0.618em 0.618em 1.618em;
      }

      th {
        padding: 0.618em 1.618em 0.618em 0.618em
      }
    }
  }
}
