.infobox {
  font-family: 'Fontin Sans';

  dt, dd {
    margin: 0 -1.618em;
    padding: 0.618em 1.618em;
  }

  dt {
    background: $brown13;
    font-weight: bold;
  }

  dd {
    background: $brown16;
    margin-bottom: 0.382em;
  }
}