.likes {
  background: $yellow-light;
  border-radius: $border-radius-long;
  color: $yellow-dark;
  font-family: 'Fontin Sans';
  margin: 1.618em -1em;
  padding: 0.618em 1em;
  width: 16.18em;

  &.initialized {
    cursor: pointer;
  }

  a {
    color: $yellow-dark;
    display: inline-block;
    padding-right: 0.618em;

    &:before {
      content: '';
      display: inline-block;
      height: 2em;
      vertical-align: middle;
      width: 2em;
    }

    &.like:before {
      background: url(#{$icons}/black/like.svg) no-repeat center;
      background-size: contain;
    }

    &.unlike:before {
      background: url(#{$icons}/black/like-filled.svg) no-repeat center;
      background-size: contain;
    }
  }
}
