aside.message {
  background: $blue;
  color: $white;
  padding: 1em 2.618em;

  & + aside.message {
    margin-top: -1em;
  }

  a {
    color: $white;
  }

  &.confirm { background: $green; }
  &.error { background: $red; }

  &.warning {
    background: $yellow;
    color: $black;

    a { color: $black; }
  }
}
