aside.message {
  background: $blue-light;
  border: 0.236em solid $blue-dark;
  padding: 0.382em 1.618em;

  & + aside.message {
    margin-top: -1em;
  }

  &.confirm {
    background: $green-light;
    border: 0.236em solid $green-dark;
  }

  &.error {
    background: $red;
    border: 0.236em solid $red;
    color: $white;

    a { color: $white; }
  }

  &.warning {
    background: $yellow-light;
    border: 0.236em solid $yellow-dark;
  }
}
