aside.message {
  background: $blue13;
  border: 0.236em solid $blue;
  padding: 0.382em 1.618em;

  & + aside.message {
    margin-top: -1em;
  }

  &.confirm {
    background: $green13;
    border: 0.236em solid $green;
  }

  &.error {
    background: $red;
    border: 0.236em solid $red;
    color: $white;

    a { color: $white; }
  }

  &.warning {
    background: $yellow13;
    border: 0.236em solid $yellow;
  }
}
