.pulse.initialized {
  display: none;
}

.pulse.initialized.error {
  display: block;
}

.pulse-demo {
  display: none;
  visibility: hidden;

  &.initialized {
    display: block;
    visibility: visible;
  }
}
