@use "sass:math";

& {
  counter-reset: thefifthworld-tables;
}

table {
  border-collapse: collapse;
  margin: 1em -1em;
  width: calc(100% + 2em);
}

caption {
  counter-increment: thefifthworld-tables;
  font-family: 'Fontin Sans Small Caps';
  margin: 2em 1em 0.618em 1em;
  text-align: left;

  &:before {
    content: "Table " counter(thefifthworld-tables) ". ";
  }
}

th, td {
  padding: 0.5em 1em;
  text-align: left;

  &.short,
  &.num {
    text-align: center;
  }
}

th {
  border-bottom: 0.2em solid $red;
  color: $brown;
}

tr:nth-child(even) td {
  background: rgba($brown, math.div(1, 15));
}

td.actions {
  display: flex;

  button,
  a.button,
  input[type="button"] {
    flex-grow: 1;
    text-align: center;
  }
}

tfoot {
  border-top: 0.1em dotted $blue;

  tr:nth-child(even) td {
    background: transparent;
  }

  .footnote {
    font-size: 0.618em;
    padding: 1em 0;

    &:before {
      content: '* ';
    }
  }
}
