& {
  font-family: 'Fontin', 'Georgia', 'serif';
  font-size: 1em;
  hyphens: auto;
}

h1, .h1like { @extend %h1; }
h2, .h2like { @extend %h2; }
h3, .h3like { @extend %h3; }
h4, .h4like { @extend %h4; }
h5, .h5like { @extend %h5; }

.caps {
  font-family: 'Fontin Sans Small Caps';
  text-transform: lowercase;
}

.dquo {
  margin-left: -0.4em;
}

.quo {
  margin-left: -0.3em;
}
