nav.sequence {
  a {
    background: $brown16;
    color: $brown;
    display: block;
    margin: 0.618em -1.618em;
    padding: 0.618em 1.618em 1.618em 1.618em;
    text-decoration: none;

    &:before {
      color: $brown23;
      display: block;
      font-family: 'Fontin Sans Small Caps';
      font-weight: normal;
    }

    &:hover,
    &:focus {
      background: lighten($brown16, 25%);
    }
  }

  & > a,
  a.prev {
    &:before {
      content: 'Previous';
    }
  }

  & > a + a,
  a.next {
    &:before {
      content: 'Next';
    }
  }

  @media (min-width: 45em) {
    border-spacing: 1em;
    display: table;
    margin: 1em -2.618em;
    width: calc(100% + (2.618em * 2));

    & > a {
      display: table-cell;
      width: 50%;
    }
  }
}