<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Fifth World Design System: Standard Template</title>
    <link rel="icon" href="/img/icons/favicon.svg" />
    <link rel=”mask-icon” href=”/img/icons/favicon.svg” color=”#000000" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="stylesheet" media="all" href="/css/style.css" />
    <link rel="stylesheet" media="all" href="/css/prism.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="A design system for the Fifth World." />
  </head>
  <body class="thefifthworld map">
    <header>
      <nav class="personal">
        <ul>
          <li><a href="standard-loggedin.html">Log in</a></li>
          <li><a href="#">How to Join</a></li>
        </ul>
      </nav>
      <h1 class="logo">
        <a href="../index.html">
          <img src="/img/wordmark.black.svg" alt="The Fifth World" />
        </a>
      </h1>
    </header>
    <main class="leaflet-wrapper">
      <div class="no-js">
        <p>You&rsquo;ll need JavaScript to use the interactive map, but something has gone wrong. If you&rsquo;ve deliberately blocked JavaScript, you&rsquo;ll need to enable it to use this feature. If not, something else may have gone wrong. Try reloading the page. Or start by browsing through these&nbsp;pages:</p>
        <ul class="continents">
          <li><a href="https://thefifthworld.com/eurasia">Eurasia</a></li>
          <li><a href="https://thefifthworld.com/africa">Africa</a></li>
          <li><a href="https://thefifthworld.com/north-america">North America</a></li>
          <li><a href="https://thefifthworld.com/south-america">South America</a></li>
          <li><a href="https://thefifthworld.com/antarctica">Antarctica</a></li>
          <li><a href="https://thefifthworld.com/sahul">Sahul</a></li>
        </ul>
        <ul class="oceans">
          <li><a href="https://thefifthworld.com/pacific">Pacific Ocean</a></li>
          <li><a href="https://thefifthworld.com/atlantic">Atlantic Ocean</a></li>
          <li><a href="https://thefifthworld.com/arctic">Arctic Ocean</a></li>
          <li><a href="https://thefifthworld.com/southern-ocean">Southern Ocean</a></li>
          <li><a href="https://thefifthworld.com/indian-ocean">Indian Ocean</a></li>
        </ul>
      </div>
    </main>
    <footer>
      <p><em>The Fifth World</em> exists thanks to the generosity of our supporters, partners, and friends on Patreon. <a href="https://www.patreon.com/thefifthworld">Would you like to join them and become part of our growing community?</a></p>
      <p class="copyleft">
        <span class="icons">
          <img src="https://s3.amazonaws.com/thefifthworld/website/images/cc.svg" alt="Creative Commons" />
          <img src="https://s3.amazonaws.com/thefifthworld/website/images/by.svg" alt="Attribution" />
          <img src="https://s3.amazonaws.com/thefifthworld/website/images/sa.svg" alt="Share-Alike" />
        </span>
        <em>The Fifth World</em> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
