<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Fifth World Design System: Standard Template</title>
    <link rel="icon" href="/img/icons/favicon.svg" />
    <link rel=”mask-icon” href=”/img/icons/favicon.svg” color=”#000000" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="stylesheet" media="all" href="/css/style.css" />
    <link rel="stylesheet" media="all" href="/css/prism.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content="A design system for the Fifth World." />
  </head>
  <body class="thefifthworld">
    <header>
      <nav class="personal">
        <ul>
          <li><a href="standard-loggedin.html">Log in</a></li>
          <li><a href="#">How to Join</a></li>
        </ul>
      </nav>
      <h1 class="logo">
        <a href="../index.html">
          <img src="/img/wordmark.black.svg" alt="The Fifth World" />
        </a>
      </h1>
    </header>
    <main>
      <ul class="breadcrumbs">
        <li>
          <a href="../index.html">The Fifth World Design System</a>
        </li>
        <li>
          <a href="../templates.html">Templates</a>
        </li>
        <li class="current">Standard</li>
      </ul>
      <h1>Open Source</h1>
      <p>The term <strong>open source</strong> comes from the world of software, with the practice of making the <em>source code</em> for a project <em>open</em> and available to the public. It has spread to become a much broader social phenomenon, including projects like <a href="https://creativecommons.org/">Creative Commons</a>. As their CEO Ryan Merkley put it, these efforts “build a vibrant, usable commons, powered by collaboration and gratitude.”</p>
      <p><em>The Fifth World</em> embraces the open source ethic in two ways. First, in accordance with open source in its narrowest sense, we make <a href="https://github.com/jefgodesky/thefifthworld">the code that this website runs on</a> available on <a href="https://github.com">Github</a>. You can use it or reuse it as you like, and we always love to get a new pull request.</p>
      <p>Secondly, and more significantly, we make all of the content on this site available under a <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>. That means that you can use anything on this site for your own projects or purposes, so long as you, too, license it under a Creative Commons Attribution-ShareAlike 4.0 International License.</p>
      <p>This does not at all preclude making money from projects that use material from the Fifth World. You can feel free to sell it any way that you can, so long as the license remains in place. And we would love to help you. We see every Fifth World project as something that can only benefit every other Fifth World project — and the Fifth World overall. We work continuously to make this website not only the setting bible but also a platform to help support and promote your Fifth World projects. Let us know what you’d like to see, and we’ll try to make it happen.</p>
    </main>
    <footer>
      <nav class="site">
        <ul>
          <li class="explore"><a href="#">Explore</a></li>
          <li class="hear"><a href="#">Hear</a></li>
          <li class="see"><a href="#">See</a></li>
          <li class="play"><a href="#">Play</a></li>
        </ul>
      </nav>
      <section class="credits">
        <p><em>The Fifth World</em> exists thanks to the generosity of our supporters, partners, and friends on Patreon. <a href="https://www.patreon.com/thefifthworld">Would you like to join them and become part of our growing community?</a></p>
        <p class="copyleft">
          <span class="icons">
            <img src="https://s3.amazonaws.com/thefifthworld/website/images/cc.svg" alt="Creative Commons" />
            <img src="https://s3.amazonaws.com/thefifthworld/website/images/by.svg" alt="Attribution" />
            <img src="https://s3.amazonaws.com/thefifthworld/website/images/sa.svg" alt="Share-Alike" />
          </span>
          <em>The Fifth World</em> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </p>
      </section>
    </footer>
    <script src="/js/bundle.js"></script>
  </body>
</html>
