.autocomplete {
  @extend %unformatted-list;
  border: 0.1em solid $yellow-dark;
  border-top: 0;
  font-family: 'Fontin Sans';
  margin-top: -1em;

  li {
    cursor: pointer;
    margin-bottom: 0;
    padding: 1em;
  }

  li + li {
    border-top: 0.1em solid $yellow-dark;
  }

  li:hover,
  li:focus {
    background: $blue-light;
  }

  .url {
    color: $yellow-dark;
    display: block;
    font-size: 0.618em;
  }
}
