input[type="file"].initialized {
  font-size: 0;
  height: 0;
  position: absolute;
  width: 0;
}

.drag-and-drop {
  background: $brown16;
  display: block;
  font-family: 'Fontin Sans';
  font-weight: normal;
  margin: 1em 0;
  padding: 4.236em;
  text-align: center;

  strong {
    display: block;
  }

  &:hover {
    background: lighten($brown16, 10%);
  }
}


.croppie-container .cr-boundary {
  margin: 1em 0 0 0;
}

.cr-slider-wrap {
  margin: 1em 0;
  width: 356px;
}

input:not([type="radio"]).cr-slider {
  border: 0;
  margin: 0;
  padding: 0;
}
