& {
  background: url(/img/headers/forest.jpg) no-repeat top center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

&.mountains {
  background-image: url(/img/headers/mountains.jpg);
}

main {
  flex: 1;
}
