%text {
  font-size: 1em;
  line-height: 1.25;
  margin: 0;
  padding: 1em 2em;

  @media (min-width: 45em) {
    padding-left: calc(50% - 20em);
    padding-right: calc(50% - 20em);
  }

  @media (min-width: 83em) {
    font-size: 1.2vw;
    padding-left: 25vw;
    padding-right: 25vw;
  }
}
